<h1>Welcome to SparkPrint</h1>

<form action="/" method="post" class="sign_up">
		<input type="text" name="username" placeholder"username">
		<input type="text" name="password" placeholder"Password">
		<input type="text" name="password_confirmation" placeholder"Password Confirmation">
		<button type="submit">Sign up</button>
		
</form>