<header class="container-fluid navbar">

	<div class="container">
 	
	<a class="navbar-brand" href="/"><i class="fa fa-print"></i>   Spark Printer</a>
	
	<div  class="btn-group pull-right">
						<% if current_user %>

						<form class="navbar-form navbar-right" role="form" action="/users" method="post">
							<input type="hidden" name="_method" value="delete">
							<button type="submit" class="btn btn-sm btn-default">Log out</button>
						</form>
						
						<div class="navbar-form navbar-right">						
							<a href="/users/edit_user" class="btn btn-sm btn-info">Edit account</a>
						</div>

          <% else %>
						<div class="navbar-form navbar-right">
		          <a href='/users/sign_in' class="btn btn-sm btn-info">Sign in</a>
            </div>
	          
					<% end %>
	</div>
 </div>
	
</header>