/*Spark CSS is based on Jumbotron */

@import url(http://fonts.googleapis.com/css?family=Cutive+Mono);

/* Space out content a bit */
body {
  padding-top: 80px;
  padding-bottom: 20px;
  font-family: 'Varela Round', sans-serif;
}

.navbar-brand{
  font-family: 'Montserrat', sans-serif;
  font-weight: 800;
}
/*.container{
  max-width: none !important;
  width: 970px;
}*/

.progress_image{
  background-image:url('/images/Spark_core_bg.jpg');
  height: 484px;
  margin: 0 auto;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-right: 15px;
  padding-left: 15px;
}

/* Custom page header */
.navbar {
  border-bottom: 1px solid aliceblue;
}

/* Make the masthead heading the same height as the navigation */
.header h3 {
/*  padding-bottom: 19px;
  margin-top: 0px;
  margin-bottom: 0px;*/
  /*line-height: 40px;*/
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

.footer a{
  float: right;
}


.container-narrow > hr {
  margin: 30px 0;
}

.spark td{
  text-align: left;
}

.good_service {
  color: #88A825; /* green */
}

.minor_delays {
  color: #FF9800; /* amber */
}

.severe_delays {
  font-weight: bold;
  color: #CD2C24; /* red */
}

.part_suspended{
  color: #ABC8E2; /* grey */
}

.part_closure{
  color: #ABC8E2; /* grey */
}

.service_closed{
  font-weight: bold;
  color: #CD2C24; /* red */
}

.suspended{
  font-weight: bold;
  color:#FF9800; /* amber */
}

.planned_closure{
  color:#FF9800; /* amber */
}

.reduced_service{
  color:#FF9800; /* amber */
}

.bus_service{
  color:#FF9800; /* amber */
}

.navbar{
    position: fixed; 
    top: 0px;
    background-color: aliceblue;
    width: 100%;
}

.header h3{
  /*padding: 20px;*/
}

.link_wrapper{
  padding-top: 450px; 
  margin-top: -450px;
  display: inline-block;
}

/* Main marketing message and sign up button */
.spark {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
  position: relative;
}

.navbutton{
    float: left;
    margin-left: 5px;
    margin-right: 5px;
}

.rightnav{
  float: right;
  display: inline-flex;
  position: relative;
  top: -40px;
  right: 10px;
}

.spark p{
  margin-top: 15px;
}

.spark h3{
  margin-top:0px;
}

/*.spark h2{
  position: absolute;
top: 60px;
left: 290px;
color: whitesmoke;
z-index: 10;
}*/

.spark ul,li{
  list-style: none;
}

.spark table{
  margin-top: 35px;
}

.spark .btn-lg {
  padding: 14px 24px;
  font-size: 21px;
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;
}
.marketing p + h4 {
  margin-top: 28px;
}

/* Styling forms */

.header_format{
  color: whitesmoke;
  text-align: center;
}

.header_format:not(h1){
  color: black
}

textarea{
  resize: none;
  width: 235px !important;
  margin: 0 auto;
  background-image: url(/images/paper_printer.jpg);
  background-size: 260px 239px;
  background-position: center;
  font-family: 'Cutive Mono';
  font-size: 18px !important;
  position: absolute;
  top: 205px;
  left: 247px;
  z-index: 20;
}

.form-control:focus{
  outline: none !important;
  box-shadow: 0 0 0;
  border: 1px solid black;
}

.fake_printer{
  background-image: url(/images/printer.png);
  background-repeat: no-repeat;
  background-position: center;
  width: 390px;
  height: 250px;
  position: relative;
  top: -50px;
  margin: 0 auto
}

.form_print button{
  margin-left: 460px 
}

.total_count{
  margin-right: 400px;
  color: green;
}


/* Styling the select boxes */

input[type=checkbox] {
position: absolute;
top: -9999px;
left: -9999px;
}

input[type=checkbox] + label{
  
  color: #FF542F
}

input[type=checkbox]:checked + label{

  color: #61FF3A;  
  
}

.all_options li:nth-child(even) label{
  float: left;
  position: relative;
  top: -30px;
}

.all_options li:nth-child(odd):first-child label{
  position: relative;
  left: 60px;
}

.icon-map {
  width: 32px;
  height: 32px;
}
.icon-calendar {
  width: 32px;
  height: 32px;
  color: red
}
.icon-print {
  width: 32px;
  height: 32px;
}
.icon-cloud {
  width: 32px;
  height: 32px;
}
.icon-news {
  width: 32px;
  height: 32px;
}
/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-right: 0;
    padding-left: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .spark {
    border-bottom: 0;
  }
}

/* Customize container */
@media (min-width: 768px) {
  .container {
    max-width: 730px;
    /*margin-top: 70px;*/
    top: -120px;/*
    padding-top: 120px; 
  }*/
}
