<html ng-app="myApp">

  <head>
  	<link rel='stylesheet' href='/css/bootstrap-responsive.css' />
	<link rel='stylesheet' href='/css/bootstrap.css' />
    <link rel='stylesheet' href='/css/spark.css' />
    <link rel='stylesheet' href='/css/dashboard.css' />
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.11.2/jquery-ui.min.js"></script>
    <script src="./js/angular/bower_components/angular-dragdrop/src/angular-dragdrop.min.js"></script>
    <script src="./js/angular/angular.js"></script>
    <script src="./js/angular/myApp.js"></script>
  </head>

  <body ng-controller="MyCtrl">
	<div class="col-md-3">    
	    <div class="col-md-12">
	    	<button class="btn btn-sm" ng-click="loadData()">Load Data From Server</button>
	    	<button class="btn btn-sm btn-primary" ng-click="addData()">Add</button>
		    <div class="well">
			    <ul>
			         <li ng-repeat="item in items">Email: {{item.email}}<br> age: {{item.age}}<br> Name: {{item.name}}</li>
			    </ul>
		  	</div>
	  	</div>
	  	<div class="col-md-12">
	    	<button class="btn btn-sm" ng-click="loadGitData()">Load GitHub Data</button>
	    	<button class="btn btn-sm btn-primary" ng-click="addGitData()">Add</button>
	    	<button class="btn btn-sm btn-success" ng-click="toggleGit()">Toggle</button>
		    <div ng-show="gitState.show" class="well">
			    <ul>
			         <li ng-repeat="gitItem in gitItems">{{gitItem.text}}</li>
			    </ul>
		  	</div>
	  	</div>
	  	<div class="col-md-12">
	    	<button class="btn btn-sm" ng-click="loadForecast()">Load Forecast</button>
		    <div class="well">
			    <ul>
			         <li ng-repeat="forecast in forecasts">Forecast: {{forecast}}</li>
			    </ul>
		  	</div>
	  	</div>

	  	<div class="col-md-12">
	    	<button class="btn btn-sm" ng-click="loadCalendar()">Load calendar</button>
		    <button class="btn btn-sm btn-primary" ng-click="addCalendarData()">add calendar</button>
		    <div class="well">
			    <ul>
			         <li ng-repeat="event in events">{{event.text}}</li>
			    </ul>
		  	</div>
		</div>	 
	  </div>
	  
	  <div class="col-md-6 well">
		<ul>
	         <div ng-repeat="message in messages"><br>
	         	<li ng-repeat="line in message">{{line.text}}</li>
	         </div>
	    </ul>
	  </div>
	  <div class="col-md-3">    
	  	<div class="col-md-12">
	    	<button class="btn btn-sm" ng-click="loadTube()">Load tube</button>
		    <button class="btn btn-sm btn-primary" ng-click="addTube()">add tube</button>
		    <div class="well">
			    <ul>
			         <li ng-repeat="tube in tubes">{{tube.text}}</li>
			    </ul>
		  	</div>
		</div>	
	  </div>
	  
	  <!-- THIS IS TEST THIS IS TEST THIS IS TEST THIS IS TEST-->
	  <div class="col-md-12" <body ng-controller="OverviewCtrl">
		  <div class="btn btn-primary" data-drag="true" data-jqyoui-options="{revert: 'invalid'}" ng-model="list1" jqyoui-draggable="{animate:true}" ng-hide="!list1.title">Hello</div>
		<div class="thumbnail" data-drop="true" data-jqyoui-options ng-model="list2" jqyoui-droppable style='height:50px;'>
  		<div class="btn btn-success" data-drag="false" data-jqyoui-options ng-model="list2" jqyoui-draggable ng-hide="!list2.title">{{list2.title}}</div>
		</div>
	</div>
	  <!-- THIS IS TEST THIS IS TEST THIS IS TEST THIS IS TEST-->
  </body>

</html>