<div class="container">
<div class='spark'>
		<h3>Select what you want to print</h3>
		<form type='checkbox' action="/users/update" method="post">

			<img src="images/calendar.svg"><input type="checkbox" name="Calendar" value="true"> Makers Calendar<br />

			<img src="images/cloud.svg"><input id="test"type="checkbox" name="Forecast" value="true"> Forecast<br />
			
			<img src="images/map.svg"><input type="checkbox" name="GithubData" value="true"> GitHub stats<br />
			
			<img src="images/news.svg"><input type="checkbox" name="GuardianNews" value="true"> Latest headlines<br />

			<img src="images/news.svg"><input type="checkbox" name="TwitterData" value="true"> Trending on Twitter<br />

			<img src="images/news.svg"><input type="checkbox" name="TubeStatus" value="true"> Tube status<br />

			<button type="submit" class="btn btn-sm btn-info">Submit</button>
			
		</form>

</div>
</div>