<body class="dashboard_page">

<div class="container-fluid">

 	<div class='spark col-md-offset-1 col-md-3 hard_height'>
		<h3>Select what to print</h3>
		<form action="/users/update" method="post">
		
		<ul class="all_options">
		
		<li>
		  <input type="checkbox" id="Calendar" name="Calendar" >
			<label for="Calendar"><i class="fa fa-calendar fa-2x"></i><span> Makers Calendar</span></label>
		</li>

		<li>	
			<input type="checkbox" id="Forecast" name="Forecast">
			<label for="Forecast"><i class="fa fa-cloud fa-2x"></i> <span>Forecast</span></label>  
    </li>
		<li>	
			<input type="checkbox" id="GithubData" name="GithubData">
			<label for="GithubData"><i class="fa fa-github fa-2x"></i> <span>GitHub stats</span></label>
    </li>
		<li>	
			<input type="checkbox" id="GuardianNews"  name="GuardianNews">
			<label for="GuardianNews"><i class="fa fa-newspaper-o fa-2x"></i> <span>Latest headlines</span></label>
    </li>	
		<li>	
			<input type="checkbox" id="TubeStatus" name="TubeStatus">
			<label for="TubeStatus"><i class="fa fa-bus fa-2x"></i> <span> Tube status</span></label>
    </li>
		<li>	
			<input type="checkbox" id="TwitterData" name="TwitterData">
			<label for="TwitterData"><i class="fa fa-twitter fa-2x"></i> <span>Trending on Twitter</span></label>
    </li>	
    <li id="SearchTerm">
    	<input type="text" name="" placeholder="Search Term">
    </li>
		</ul>

			<button type="submit" class="btn btn-sm btn-info">Submit</button>
			
		</form>

	</div>


	<div class="spark col-md-offset-1 col-md-6 col-md-offset-1 hard_height">

<!-- 		<div class="fake_printer"><span class="total_count">Words left 96</span></div>
			<form class="form_print" action="/printer/print" method="post">
				<textarea class="form-control paper_printer" name="messagebox" cols="1" rows="2" maxlength="96"></textarea>
				<button type="submit" class="btn btn-sm btn-info">Print</button>
			</form> -->
		
		
			<% if @user %>
	<div class="fake_printer">
			<span class="total_count">Words left 96</span>
		<h3 class="send_message">Send message to a user <i class="fa fa-hand-o-right"></i></h3>
		<form class="form_print" action="/messages/new" method="post">
			<select name="receiver" class="message-receiver">
				<option></option>
			<% @users.each do |user| %>
				<option value="<%= user.github_user%>" ><%= user.github_user%></option>
			<%end%>
			<%end%>
			</select>

			<textarea class="form-control paper_printer" name="usermessagebox" cols="20" rows="2" maxlength="96" placeholder="Type here!!"></textarea>
		<!-- 	<button class="send-message" type="submit">send message</button> -->
			<button type="submit" class="btn btn-sm btn-info">Send message</button>
		</form>



			
<!-- 			<textarea class="form-control paper_printer" name="usermessagebox" cols="20" rows="8"></textarea>
			<button class="send-message" type="submit">send message</button>
			<button type="submit" class="btn btn-sm btn-info">Send message</button>
		</form> -->



</div>
</body>
