<div class="container">
      
	<div class='spark'>
		<h3>Select what you want to print</h3>
		<form type='checkbox' action="/users/update" method="post">

			<i class="fa fa-calendar fa-2x"><input type="checkbox" name="Calendar" value="true"></i>  Makers Calendar<br /><br />

			<i class="fa fa-cloud fa-2x"><input id="test"type="checkbox" name="Forecast" value="true"></i>  Forecast<br /><br />
			
			<i class="fa fa-github fa-2x"><input type="checkbox" name="GitHubData" value="true"></i>  GitHub stats<br /><br />
			
			<i class="fa fa-newspaper-o fa-2x"><input type="checkbox" name="GuardianNews" value="true"></i>  Latest headlines<br /><br />

			<i class="fa fa-twitter fa-2x"><input type="checkbox" name="TwitterData" value="true"></i>  Trending on Twitter<br /><br />

			<i class="fa fa-bus fa-2x"><input type="checkbox" name="TubeStatus" value="true"></i>  Tube status<br /><br />

			<button type="submit" class="btn btn-sm btn-info">Submit</button>
			
		</form>

	</div>