<div class="container">
	<div class="spark">

		<h3 class="header_format">Change account details</h3>


		<form action="/users/edit_user" method="post" class="form-horizontal edit_user" role="form">
				
				<div class="form-group">
				    <div class="input-group">
				      <div class="input-group-addon">@</div>
				      <input class="form-control" type="email" value="<%= @user.email %>" name="email" placeholder="Enter email">
				    </div>
				 </div>

				<div class="form-group">
					<div class="input-group">
				    <div class="input-group-addon"><span class="glyphicon glyphicon-user"></span></div>
					<input class="form-control" type="text" value="<%= @user.github_user %>" name="github_user" placeholder="Github Account">
					</div>
				</div>

					<%= partial :"partials/_form" %>

					<button type="submit" class="btn btn-sm btn-info">Edit User</button>		
			</form>
	</div>
