<h1>Welcome to SparkPrint</h1>

	<% if flash[:notice]%>
		<div class="notice">
			<%= flash[:notice] %>
		</div>
	<%end%>

	<% if current_user %>
		<p>Thank you for registering, <%= current_user.email %></p>

		<form action="/" method="post">
			<input type="hidden" name="_method" value="delete">
			<button type="submit">Log out</button>
		</form>
<%end%>		


<form action="/print" method="post">
<!-- 	<select name="formatbox">
		<option value="BOLD">Bold</option>
		<option value="TEXT">Plain Text</option>
	</select> -->

	<textarea class="message" name="messagebox" cols="40" rows="4"></textarea>
	<button class="print-hello-world" type="submit">Print</button>
</form>

<a href='/sign_in'>Sign in</a>
<a href='/sign_up'>Sign up</a>

