

<h1>Welcome to SparkPrint</h1>

	<% if flash[:notice]%>
		<div class="notice">
			<%= flash[:notice] %>
		</div>
	<%end%>

<form action="/print" method="post">
<!-- 	<select name="formatbox">
		<option value="BOLD">Bold</option>
		<option value="TEXT">Plain Text</option>
	</select> -->
	<textarea class="message" name="messagebox" cols="40" rows="4"></textarea>
	<button class="print-hello-world" type="submit">Print</button>
</form>