
			

<div class="container">
      
	<div class='spark'>

		<h3>SparkPrint</h3>
	<br />
		<form action="/printer/print" method="post">
			<textarea class="message" name="messagebox" cols="40" rows="4"></textarea></p>
			<!-- <button class="print-hello-world" type="submit">Print</button> -->
			<button type="submit" class="btn btn-sm btn-info">Print</button>
		</form>
		
	</div>
<br />
	<div class='spark'>
		<h3>Send message to a user</h3>
		<form action="/messages/new" method="post"></p>
			<span> Receiver:</span>
			<select name="receiver", class="message-receiver">
			<% @users.each do |user| %>
				<option value="<%= user.github_user%>" ><%= user.github_user%></option>
			<%end%>
			</select></p>

			<textarea class="user-message" name="usermessagebox" cols="40" rows="4"></textarea></p>
		<!-- 	<button class="send-message" type="submit">send message</button> -->
			<button type="submit" class="btn btn-sm btn-info">Send message</button>
		</form>


	</div>
