
<body class="holding-page">
<div class="container">

      
	<div class='spark spark-translucent'>

		<h2>Welcome to Spark Printer</h2>

		<h3>The tiny, Wi-Fi connected, RFID printer.</h3>

		<p>Tap your card on the reader to get your calendar events, GitHub streak, and more. In the afternoon, the printer tells you useful information for your journey home, like weather for the next hour and reported transit delays.</p>


		<br /><em><p>To sign up, go to your nearest Spark Printer and tap an RFID card on the reader.</p></em>

	</div>
</div>
</body>
