<form action="/sign_up" method="post" class="sign_up">
		<input type="text" name="email" placeholder="E-mail">
		<input type="text" name="password" placeholder="Password">
		<input type="text" name="password_confirmation" placeholder="Password Confirmation">
		<button type="submit">Sign up</button>
		
</form>
