<form action="/sign_up" method="post" class="sign_up">
		<input type="hidden" name="rfid_code" value="<%= params[:rfid_code] %>">
		<input type="text" name="email" placeholder="E-mail">
		<input type="text" name="github" placeholder="Github Account">
		<input type="password" name="password" placeholder="Password">
		<input type="password" name="password_confirmation" placeholder="Password Confirmation">
		<button type="submit">Sign up</button>
		
</form>
