<form action="/sign_in" method="post" class="sign_in">
		<input type="text" name="email" placeholder="Email">
		<input type="password" name="password" placeholder="Password">
		<button type="submit">Sign in</button>
		
</form>
