
<div class="header">
     <!--  <ul class="nav nav-pills pull-right">
        <li class="active"><a href="#top">top</a></li>
        <li><a href="#calendar">calendar</a></li>
        <li><a href="#tube">tube status</a></li>
      </ul> -->
      <h3 class="text-muted">Spark Printer Dashboard</h3>
    </div>

<div class="container">
	<div class="spark">
		<h2>please sign in</h2>
		<br />
			<form action="/sign_in" method="post" class="sign_in">
				<input type="text" name="email" placeholder="Email"></p>
				<input type="password" name="password" placeholder="Password"></p>
				<button type="button" type="submit" class="btn btn-sm btn-info">Sign in</button>
			</form>
	</div>

<br/>

<div class="footer">
	© SparkTeam 2014
</div>
</div>